<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="DomesticRemittanceByPartnerServiceHttpBinding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://api.quantiguous.com/DomesticRemittanceByPartnerService"
                binding="customBinding" bindingConfiguration="DomesticRemittanceByPartnerServiceHttpBinding"
                contract="com.quantiguous.DomesticRemittanceByPartnerService"
                name="DomesticRemittanceByPartnerServiceHttpPort" />
        </client>
    </system.serviceModel>
</configuration>